html, body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: space-around;
}

header {
    text-align: center;
}

.container {
    margin: 60 auto 0 auto;
    text-align: center;
}

#input-section {
    display:block;
}

#k-frame {
    margin: 30px auto 30px auto;
    display: none;
}

#k-name {
    padding-top: 10px;
    color: rgb(255, 192, 0);
}

#k-img {
    margin: 0 auto 10px auto;
}

#buttons {
    display: none;
}

#start-new {
    display: none;
    margin: 0 auto 0 auto;
}

#meow {
    display: none;
}

#instructions {
    display: none;
    text-align: justify;
    left: 0;
    max-width: 30%;

}